<div class="chat-message">
    <div class="message-auth-container">
         <span class="message-date">
            [<%=dateTime%>]
        </span>
        <span class="author-name">
            <%=username%>
        </span>
    </div>
    <div class="message-text-container">
        <span class="message-text">
            <%=message%>
        </span>
    </div>
</div>