<header class="header-basic">
<div class="header-limiter">
    <h1>
        Martin<span>Chat</span>
    </h1>
    <nav>
        <%if (user) { %>
            Hi <a href="/users/logout"><%=user.username%></a>
        <% }  %>
    </nav>
</div>
</header>