<header class="header-basic">
<div class="header-limiter">
    <h1>
        Lover's<span>Chat</span>
    </h1>
    <nav>
        <%if (user) { %>
            <a><%=user.username%></a>
        <% }  %>
    </nav>
</div>
</header>