<header class="header-basic">
<div class="header-limiter">
    <h1>
        Lover's<span>Chat</span>
    </h1>

<!--    <nav>-->
<!--        <a href="#">Home</a>-->
<!--        <a href="#" class="selected">Blog</a>-->
<!--        <a href="#">Pricing</a>-->
<!--        <a href="#">About</a>-->
<!--        <a href="#">Faq</a>-->
<!--        <a href="#">Contact</a>-->
<!--    </nav>-->
</div>
</header>