<!DOCTYPE html>
<html>
<%- include('partials/head-section') %>
<body>
<%- include('partials/header') %>
<div class="content-container">
    <% if (user) { %>
        <%- include('partials/chat') %>
    <% } else { %>
        <%- include('partials/login') %>
    <% } %>
</div>

<script>
    const ws = new WebSocket("wss://localhost:3000/chat");
    ws.onopen = event => {
      console.log('Socket Open');
    };

    ws.onmessage = event => {
      console.log(event.data);
    };

</script>
</body>
</html>
