<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/users.css' />
  </head>
  <body>
    <div class="content-container">
        <h2 class="heading"><%= title %></h2>
        <%- include('partials/' + page) %>
    </div>
  </body>
</html>
