@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

body{
  font-family: 'Fira Mono', monospace;
  background-color: #212121;
  color: #dbdbdb;
  padding:0;
  margin:0;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  height: calc(100vh - 20px);
}

.form-container {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.content-container form{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #2e2e2e;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 80px 40px;
  max-height: 50%;
}

.form-container label {
  margin-bottom: 10px;
}

.form-container input {
  border:none;
  padding:10px;
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
  color: #dbdbdb;
  padding: 10px;
  background-color: #212121;
  border: 2px solid #BB86FC;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-container button{
  color: #bb86fc;
  background-color: #2e2e2e;
  border: 2px solid #BB86FC;
  padding: 20px;
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
}

.form-container button:hover{
  color: #2e2e2e;
  background-color: #BB86FC;
}

.form-container .link-container{
 margin-top: 20px;
}

.form-container .link-container a{
  text-decoration: none;
  color: #01d9c5;
}

.header-basic {
  background-color: #2e2e2e;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  height: 80px;
  box-sizing: border-box;
}


